{
  "ApiUrl": "http://localhost:52086",
  "FirebaseApiKey": "KEY",
  "FirebaseAuthEmail": "name@domain.com",
  "FirebaseAuthPassword": "PASSWORD",
  "FirebaseBucketUrl": "<project-name>.appspot.com/",
  "FirebaseRealtimeToken": "AUTH",
  "FirebaseRealtimeUrl": "https://<project-name>.firebaseio.com/"
}