.nav-bar-container {
    width: 100%;
    height: 50px;
    background: black;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 10px;
}

.nav-path {
    float: left;
}

.nav-actions {
    float: right;
}

.nav-icon {
    display: inline;
}

.nav-click {
    display: inline;
    color: #007bff;
}

.nav-click:hover {
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}